.footer {
    background-color: #000000;
    color: #FFFFFF;
}

.footer-content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 4rem 6rem;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    h2 {
        margin-bottom: 0.5rem;
    }

    li {
        margin-bottom: 0.5rem;

        a {
            color: #FFFFFF;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .footer-content {
        padding: 3rem 2rem;
    }

    .footer-section {
        flex-direction: column;
        gap: 2rem;
    }
}