<div class="footer">
    <div class="footer-content">
        <h2 class="footer-logo">Norruniversitetet</h2>

        <div class="footer-section">
            <div>
                <h2>Kontakt</h2>
                <ul>
                    <li><a href="mailto:info@noun.se">info@noun.se</a></li>
                    <li><a href="tel:055-0000000">Tel: 055-000 00 00</a></li>
                </ul>
            </div>

            <div>
                <h2>Om webbplatsen</h2>
                <ul>
                    <li><a href="#">Tillgänglighet</a></li>
                    <li><a href="#">Personuppgifter</a></li>
                    <li><a href="#">Kakor</a></li>
                    <li><a href="#">Språk (other languages)</a></li>
                </ul>
            </div>

            <div>
                <h2>Våra kanaler</h2>
                <ul>
                    <li><a href="#" target="_blank">Instagram</a></li>
                    <li><a href="#" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>