<div class="footer">
    <div class="footer-content">
        <div class="footer-section">
            <div>
            <img src="/images/logo-footer.svg" alt="Norruniversitetet logotyp">
                <ul>
                    <li>Norruniversitetet</li>
                    <li><a href="mailto:info@norruni.se">info@norruni.se</a></li>
                    <li><a href="tel:055-00000000">Tel: 055-000 000</a></li>
                </ul>
            </div>

            <div>
                <h2>Om webbplatsen</h2>
                <ul>
                    <li><a routerLink="about" fragment="cookies">Kakor</a></li>
                    <li><a routerLink="about" fragment="gdpr">Personuppgifter</a></li>
                    <li><a routerLink="about" fragment="accessibility">Tillgänglighet</a></li>
                </ul>
            </div>

            <div>
                <h2>Våra kanaler</h2>
                <ul>
                    <li><a href="https://www.instagram.com/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/" target="_blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>