.header {
    text-transform: uppercase;
    font-weight: bold;
    position: fixed;
    inset: 0% 0% auto;
    z-index: 100;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background-color: #f6f5f4c5;
    border-bottom: 1px solid #f6f5f41a;
    min-height: 70px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: #000000;
    font-size: 24px;
    padding: 0.5rem 1rem;

    &.logo-hidden {
        visibility: hidden;
    }
}

.nav {
    font-size: 18px;
    padding: 0.5rem 1rem;

    .nav-links {
        display: flex;
        gap: 2rem;
    }
}

a {
    color: #000000;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    &:hover {
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
    }

    &.active {
        border-bottom: 3px solid #86c9cb;
    }
}

/* Mobil navigering */
.menu-btn {
    display: none;
    background-color: transparent;
    width: auto;

    span {
        display: block;
        background-color: black;
        width: 35px;
        height: 5px;
        margin-top: 6px;
    }
}

.nav-mobile {
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 500;
    background-color: #f6f5f4;
    top: 100%;

    .nav-mobile-links {
        display: block;
        padding: 1rem;

        a {
            margin-bottom: 16px;
        }
    }
}

@media screen and (max-width: 800px) {
    .header-content {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo {
        font-size: 20px;
    }

    .nav {
        display: none;
    }

    .menu-btn {
        display: block;
    }
}