<div class="header">
    <div class="header-content">
        <a routerLink="home" class="logo" [class.logo-hidden]="navbarMobileVisible">
            <img src="/images/logo.svg" alt="Norruniversitetet logotyp">
        </a>

        <!-- Meny desktop -->
        <nav class="nav">
            <ul class="nav-links">
                <li><a routerLink="courses" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">Kurslista</a></li>
                <li><a routerLink="schedule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Mina
                        kurser ({{ scheduleService.scheduleCourses().length }})</a></li>
            </ul>
        </nav>

        <button class="menu-btn" type="button" (click)="toggleMobileMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <!-- Meny mobil -->
    @if (navbarMobileVisible === true) {
    <nav class="nav-mobile">
        <ul class="nav-mobile-links">
            <li><a routerLink="courses" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="toggleMobileMenu()">Kurslista</a></li>
            <li><a routerLink="schedule" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                    (click)="toggleMobileMenu()">Mina
                    kurser ({{ scheduleService.scheduleCourses().length }})</a></li>
        </ul>
    </nav>
    }
</div>