$card-background-color: #FFFFFF;

.content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.saved-section {
    padding: 1rem;
}

.result-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;

    .total {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .total-points {
            font-weight: 400;
        }
    }
}

.course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    padding-bottom: 2rem;

    .course-card {
        display: flex;
        flex-direction: column;
        background-color: $card-background-color;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.05);


        .course-card-head {
            padding: 0.5rem;
            border-bottom: 3px solid #86c9cb;
        }

        .course-card-content {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            padding: 1rem;
            gap: 8px;

            span {
                margin-bottom: 16px;

                a {
                    color: #285b5d;
                    font-weight: 600;
                    padding: 3px 0;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    button {
        background-color: #f1f0ee;
        color: #000000;
        font-size: 16px;
        margin-top: auto;

        &:hover {
            background-color: #f1f0ee;
            color: #000000;
            border: 1px solid #000000;
        }
    }

    @media screen and (max-width: 950px) {
        .course-list {
            grid-template-columns: repeat(2, 2fr);
            gap: 2rem;
        }
    }

    @media screen and (max-width: 700px) {
        .course-list {
            grid-template-columns: 1fr;
        }
    }
}