.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.main {
    margin-top: 100px;
    min-height: calc(100vh - 200px);
}

@media screen and (max-width: 800px) {
    .main {
        margin-top: 60px;
        min-height: calc(100vh - 100px);
    }
}