<div class="content">
    <section class="search-section">
        <h1>Sök bland våra kurser</h1>

        <form class="form-search" autocomplete="off">
            <input type="text" id="search" name="search" placeholder="Sök efter kurskod eller kursnamn"
                aria-label="Sök kurser" #searchInput [value]="filterInput()"
                (input)="onCoursesFiltered(searchInput.value)">

            <select id="select" name="select" aria-label="Välj ämne" #select [value]="selectedSubject()"
                (change)="onSubjectChange(select.value)">
                <option value="">Alla ämnen</option>
                @for (subject of subjects(); track subject) {
                <option>{{ subject }}</option>
                }
            </select>
        </form>

        <div class="search-result-top">
            <h2>Sökresultat: <span class="length">Visar {{ sortedCourses().length }} kurser</span>
            </h2>

            <div class="sort-control">
                <label for="option">Sortera efter:</label>
                <select id="option" name="option" aria-label="Sortera efter" #sortBy [value]="sortOrder()"
                    (change)="onCoursesSorted(sortBy.value)">
                    <option value="courseNameAsc">Kursnamn A-Ö</option>
                    <option value="courseNameDesc">Kursnamn Ö-A</option>
                    <option value="subject">Ämne A-Ö</option>
                    <option value="subjectDesc">Ämne Ö-A</option>
                    <option value="points">Högskolepoäng</option>
                    <option value="courseCode">Kurskod</option>
                </select>
            </div>
        </div>

        <h2 class="course-list-header">Kurser</h2>
        <div class="course-list">
            @if (sortedCourses().length === 0) {
            <p class="empty-list">Sökningen gav inget resultat.</p>
            }

            @for (course of sortedCourses(); track course.courseCode + '-' + course.subjectCode) {
            <div class="course-card">
                <p class="course-card-head">{{ course.subject }}</p>
                <div class="course-card-content">
                    <h3>{{ course.courseName }}</h3>
                    <p>{{ course.courseCode }}</p>
                    <p>{{ course.points }} hp</p>

                    @if (courseAdded(course.courseCode)) {
                    <button class="add-btn" (click)="addCourse(course)" disabled>
                        Tillagd</button>
                    } @else {
                    <button (click)="addCourse(course)">Lägg till</button>
                    }
                </div>
            </div>
            }
        </div>

    </section>
</div>