$card-background-color: #FFFFFF;

.content {
   max-width: 1280px;
   margin-left: auto;
   margin-right: auto;
}

.search-section {
   padding: 1rem;
}

.form-search {
   background-color: $card-background-color;
   padding: 1.5rem;
   margin-top: 1rem;
   display: flex;
   gap: 20px;
   border-radius: 10px;
   box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.05);
}

.search-result-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 2rem;
   padding-bottom: 1rem;

   .length {
      font-weight: 400;
   }

   .sort-control {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      label {
         font-size: 20px;
      }

      select {
         min-width: 150px;
         max-width: 100%;
      }
   }
}

.course-list-header {
   margin-bottom: 0.5rem;
}

.course-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 3rem;
   padding-bottom: 2rem;

   .course-card {
      display: flex;
      flex-direction: column;
      background-color: $card-background-color;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.05);

      .course-card-head {
         padding: 0.5rem;
         border-bottom: 3px solid #86c9cb;
      }

      .course-card-content {
         display: flex;
         flex-direction: column;
         flex-grow: 1;
         padding: 1rem;
         gap: 8px;

         span {
            margin-bottom: 16px;

            a {
               color: #285b5d;
               font-weight: 600;
               padding: 3px 0;

               &:hover {
                  text-decoration: underline;
               }
            }
         }

         .add-btn {
            &:disabled {
               background-color: #f1f0ee;
               color: #000000;
               opacity: 0.7;
               cursor: auto;

               &:hover {
                  border: none;
               }
            }
         }
      }
   }
}

input,
select {
   font-size: 16px;
}

button {
   background-color: #000000;
   color: #FFFFFF;
   font-size: 16px;
   margin-top: auto;

   &:hover {
      background-color: #f1f0ee;
      color: #000000;
      border: 1px solid #000000;
   }
}

@media screen and (max-width: 950px) {
   .form-search {
      flex-direction: column;
   }

   .course-list {
      grid-template-columns: repeat(2, 2fr);
      gap: 2rem;
   }

   .search-result-top {
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
   }
}

@media screen and (max-width: 700px) {
   .course-list {
      grid-template-columns: 1fr;
   }
}